@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

header {
    background-color: rgba(255, 144, 14, 0.1);
    ;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 240px 116px 240px;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500
}

nav li a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

nav h3 {
    color: rgb(19, 19, 19);
    font-size: 45px;
    font-weight: 700;
}

.brand-new-title {
    color: rgb(19, 19, 19);
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.brand-new-dd {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.brand-photo {
    width: 1440px;
    height: 700px;
    border-radius: 8px;
    margin: 50px 240px 116px 240px;
}

.btn-primary {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    border: 0px;
    padding: 20px;
    margin: 53px 750px;
}
.quick-list{
    display: flex;
    gap: 70px;
}
.quick-list-photo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}